
.benefits {
	padding: 24px 0;

	&__container {
		@extend .list;
	}

	&__item {
		@extend .list;
		font-family: $title;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 600;

		svg {
			margin-right: 15px;
		}
	}
}
